<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
    </ul>
    <div class="form">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Form delete users</legend>
                <div class="hide-id">
                    <label>ID: </label>
                    <input type="text" name="UserID" value="<%= ID.id %>"/>
                </div>
                <div class="item-delete">
                    <p>Are you sure delete user with email</p>
                    <label>Email: </label>
                    <input type="text" name="email" value="<%= ID.email %>"/>
                </div>
                <button>Delete</button>
            </fieldset>
        </form>
    </div>
</body>

</html>