ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active{
    background-color: #04AA6D;
  }
  
  /* Change the link color to #111 (black) on hover */

  *{
    margin: 0;
    padding: 0;
    text-align: center; 
  }
  .form{
    width: 300px;
    margin: 50px auto;
  }
  .item{
    height: 30px;
    margin-top: 10px;
  }
  button{
    width: 50px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .hide-id{
    display: none;
  }
  .item-delete{
    height: 50px;
    margin-bottom: 20px;
  }
  p{
    height: 20px;
    margin: 10px 0px;
  }